<% @title= "Coach Hrazor Bio - Definite6.com" %>

<div class="thin-container">

  <h2 class="center">Coach "Hrazor" Hradek</h2>

  <br>

  <%= image_tag("Bio.jpg", alt: "Coach Hrazor Bio Pic", class: "bio-image") %>

  <br>
  <br>

  <p class="art-font">Coach Ray “Hrazor” Hradek began his coaching career in 1980 at Mayfield High School (OH). After several stops, he became the head coach at Midpark High School (OH) in 1988. Throughout his career, he was a part of nine conference championships, eight OHSAA state playoff trips, two regional semifinalist teams, and was named coach of the year four times. His career also included a five-year stint as an assistant at Baldwin Wallace University where he won a national championship as a player in 1978. Coach Hrazor currently resides in Charlotte, North Carolina.</p>

</div>