<% @title= "Goal Line - Part 2 - Definite6.com" %>

<div class="thin-container">

  <br>

  <h1 class="center">Goal Line - Part 2</h1>

  <hr class="light-smoke">
  
  <div class="center ol-font">by <%= link_to "Coach Hrazor", articles_coach_hrazor_path, class: "dark-red" %></div> 

  <br>

  <p class="art-font preview-text"><i>This article is the second part of the Goal Line Series. The first part can be found <strong><%= link_to "HERE", articles_goal_line_part_one_path, class: "blue" %></strong></i>.</p>

  <p class="art-font">Once we decide on personnel, it then becomes a matter of installation. In this article, I’ll talk about how we most efficiently implement our Stack Package and then cover our first play, OFF TACKLE RT/LT.</p>

  <p class="art-font">The entire first session of full contact practice is devoted to Stack and Goal Line Defense.</p>  

  <div class="font-only skinny">The positions are broken down into three groups:</div>

  <ol class="ol-font">
    <li>QB and Center (these two are grouped together because QB’s are now under center calling the snap count)</li>
    <li>O-Line (including TE)</li>
    <li>RB</li>
  </ol>

  <p class="art-font">First, the basic techniques and skills are repped within each individual group.</p> 
  
  <p class="art-font">Next, we combine the RB’s with the QB-Center Group and rep out the steps and timing of our run plays. The O-line and TE’s continue in their individual groups.</p>
  
  <p class="art-font">We then team up and begin our install of plays.</p>

  <p class="art-font">It should be noted that this is the only time we break down Stack this way in practice.  All future summer practice sessions will have a 10-minute (two periods) time block in which Stack is repped.  Once the regular season starts, we decrease this to one 5-minute period every day.</p>

  <p class="art-font">We rep Stack against the Goal Line Defense. We practice against a standard 6-5 during summer practice, and against our upcoming opponent’s goal line package during the season.</p>

  <hr class="light-smoke">

  <h3>OFF TACKLE RT/LT</h3>

  <p class="art-font">Our QB will call check with me in the huddle. The balanced nature of Stack does not give the defense any indicators as to where we are running the ball.  Being balanced is a significant advantage to using the Stack.  Our QB is coached to call the play where we either have an advantage in numbers or personnel/talent.</p>

  <h4>Techniques and Responsibilities:</h4>

  <ul class="art-font">
    <li class=top-padding><strong>Playside Offensive Line (includes TE)</strong> - all down block on the first defender to their inside.</li>
    <li><strong>Center</strong> - may have weekly adjustments, but usually has one of two choices:  down block on the first defender backside or reach block on the down playside A-Gap defender.</li>  
    <li><strong>Backside Offensive Linemen</strong> - all execute “Seal and Wheel” - step hard to the playside gap preventing any penetration from the defense.  If there’s no defender, then pivot off the inside foot, step back with the outside foot, and block the first defender to show.</li>
    <li><strong>QB</strong> - reverse pivots and gets the ball to the SB as quickly as possible.  After the handoff, he executes a boot technique.</li>
    <li><strong>Up Back</strong> - starts in a 3-point stance with his face mask six inches from the QB’s butt. The next item is very important and needs repetition. He takes a crossover step with his backside foot, aiming at the butt of the playside guard. This step angles his track to better enable him to execute a kick out block or log block on the first defender to show outside of the TE’s down block.</li>  
    <li><strong>Hammer Back</strong> - takes lead step to playside OT’s butt.  Ideally, he would slice under the UB’s kick out block and block the first defender to show.  At times, he finds the first open seam and takes the first defender to show.</li>
    <li><strong>Speed Back</strong> - delays for a 1001 count.  After that, he presses off of his backside big toe and lead steps to the playside OT’s butt.  Ideally he would follow the HB and cut off of his block into the end zone.  At times he finds the first open seam and runs to daylight.</li>    
  </ul>
  <br>

  <%= image_tag("StackTeam2.png", alt: "Football Goal Line Off Tackle Play", class: "formation-image") %>

  <br>
  <br>

  <p class="art-font">I’ll cover additional Stack plays in future articles.</p>

  <hr class="light-red">
  <br>

  <%= render 'disqus' %>
</div>