<% @title= "Goal Line - Part 1 - Definite6.com" %>

<div class="thin-container">

  <br>

  <h1 class="center">Goal Line - Part 1</h1>

  <hr class="light-smoke">
  
  <div class="center ol-font">by <%= link_to "Coach Hrazor", articles_coach_hrazor_path, class: "dark-red" %></div> 

  <br>

  <p class="art-font preview-text"><i>This article is the first part of the Goal Line Series. The second part can be found <strong><%= link_to "HERE", articles_goal_line_part_two_path, class: "blue" %></strong></i>.</p>

  <p class="art-font">The vast majority of everything we do from the weight room to our offensive scheme and everything in between is based upon all the events we have experienced over the years of playing and coaching.  The same holds true for our goal line offense.</p>

  <p class="art-font">I know there are many teams that have a philosophy of staying in their normal offense no matter what the field position is.  It has been our experience however, because of the personnel we have had the vast majority of the time, to use a special goal line package.  It has been tremendously successful.  Our players and coaches buy into it and get very excited when the call for “Stack Team” goes out from our sideline.
  </p>

  <p class="art-font">We have been using our “Stack” package since 1989.  We normally get into it when we are on the +5 going in.  It has a 98 percent success rate, meaning we score touchdowns 98 percent of the time we get to the 5 yard line.</p>

  <p class="art-font">We ingrain the philosophy of “We score touchdowns when we are in Stack Team” beginning on the first day of full contact summer practice and build on it every day of practice thereafter.  We have used Stack so much and been so successful with it that our players who are on Stack Team automatically go into the game when our offense reaches the +5 without us calling for them.  We still call for Stack Team though.  It has become tradition that when the call for “Stack Team” goes out, the players on the sideline respond with a “Yes Boss!”  I truly do not remember how that came into existence, but we keep on using it season after season.  It’s kind of cool and increases the flow of adrenaline.</p>

  <p class="art-font">The Stack package is very simple.  We place our best players on the Stack Team.  Some of the players are our “Defensive Only” players who have a certain offensive skill set we can use on the +5 and that are better than anyone else we have on the team. The prime examples of this would be the ability to down block as an offensive lineman or execute a kick out block as a blocking back.</p>

  <p class="art-font">Our Stack package is an attached 2 tight end with a Stacked Triple I backfield and the QB under the center. Since the QB is under the center he is the one that calls the cadence.  When we are in the shotgun, our center is the player who calls the cadence for the snap.</p>

  <p class="art-font">We also huddle when we are in Stack as compared with going no-huddle in our normal offense.</p>  

  <h3 class="top-padding">Personnel:</h3>

  <p class="art-font">The QB and the center stay on the field.  Any offensive linemen that are big, strong, and can execute down blocks effectively stay on the field.</p>

  <p class="art-font">Any “defensive only” linemen that are better, bigger, and stronger than our offensive starters replace them and go on the field.</p>

  <div class="art-font skinny"><strong>Tight Ends:</strong> Any skill player that is big enough, strong enough, can execute a down block, and can catch is inserted in this position.  Sometimes it is our normal tight end.  Sometimes it is a linebacker, strong safety, or a blocking back.</div>

  <div class="art-font skinny"><strong>Backs:</strong></div> 

  <ul class="art-font">
    <li>
      <strong>Up Back:</strong> any player that can execute a kick out block, and can catch.  If he cannot catch but is exceptional at kicking out, we will replace him if we call a pass play and he is an option for the pass.
    </li>
    <li>
      <strong>Hammer Back:</strong> usually our normal H Back (fullback type).
    </li>
    <li>
      <strong>Speed Back:</strong> our best short yardage running back.  He can read blocks, find the seam, and burst through better than anyone else on the team.  It takes more than one defender to bring him down.  This player usually leads our team in scoring.
    </li>
  </ul>

  <br>

  <%= image_tag("StackTeam1.png", alt: "Football Goal Line Formation", class: "formation-image") %>

  <br>
  <br>

  <p class="art-font">The practice plan, reps, and plays will be presented in following articles.</p>

  <hr class="light-red">
  <br>

  <%= render 'disqus' %>

</div>