<div class="thin-container">

  <h1 class="center">Goals and Objectives</h1>

  <br>

  <p class="art-font">Deciding on team, offensive, defensive, and special team goals was always a challenging task for most of my 36 years.  What are the specific goals/objectives?  How many is too much?... Too few?  Can we actually achieve the goals/objectives we selected?</p>

  <p class="art-font">I know that all of us have goal/objective charts.  We place a sticker or color the space in under each opponent, and so on. Meeting goals/objectives are indicators as to how effective we are.</p>

  <p class="art-font">After coaching for a while, my experience has allowed me to focus on a minimal number of goals/objectives that I believe are closely related to how effective our offense is during the course of the game.  The more effective, the higher our percentage is in regard to winning the game.</p>

  <p class="art-font">I have classified the objectives into 2 categories: Field Zone & Game Production.</p>

  <h3>Field Zone</h3>

  <div class="font-only skinny">Our Field Zone Objectives are:</div>

  <ol class="ol-font">
    <li>Win “Coming Out”</li>
    <ul class="nested-list">
      <li>Coming Out Field Zone is the -1 to the -10 yard line</li>
      <li>We WIN it by obtaining at least 1 first down.  This will allow us at least one more series of downs and give us enough space to punt the ball normally.</li>
      <br>
    </ul>
    <li>Win “The Red Zone”</li>
    <ul class="nested-list">
      <li>The red zone begins at the +20 and continues to the +5</li>
      <li>We WIN it by scoring a touchdown or a fieldgoal.</li>
      <br>
    </ul>
    <li>Win “Goal Line”</li>
    <ul class="nested-list">
      <li>The goal line is +5 and in</li>
      <li>We WIN it by scoring a touchdown.</li>
      <br>
    </ul>
  </ol>

  <h3>Game Production</h3>

  <p class="art-font">This is taken from an NFL study. Typically, I do not like to state anything in a negative format, but this objective is a bit of an exception.</p>

  <p class="font-only skinny">88% of our Total Offensive plays must not be:</p>

  <ul class="art-font">
    <li>Turn Overs</li>
    <li>Dropped Passes</li>
    <li>“FOOLISH” Penalties</li>
    <li>Sacks</li>
  </ul>

  <p class="art-font">Based on the NFL study, if 88% or more of your total plays do not fit into the above categories, you have increased your percentage of winning the game to 92%.</p>

  <p class="art-font">For example, if you run 60 offensive plays in a game and seven or fewer of those plays fit into the negative categories, you have a 92% chance of victory.</p>  


  <p class="art-font">As always, please feel free to contact me at <strong><a class="blue" href="mailto:rayhradek@gmail.com">rayhradek@gmail.com</a></strong> if you have any questions.</p>

</div>