<div class="thin-container">

  <h1 class="center">Naming Formations</h1>

  <br>

  <p class="art-font">We have used such a variety of ways to name our formations during my 36 years of coaching. The most effective we have found is a method borrowed from a college coach about five years ago. It literally allows you to create an almost infinite number of formations without producing an infinite number of formation names. We did modify the method a bit to fit our needs. It involves naming, what we call “formation surfaces”, and then using “alignment numbers” to indicate where additional skill players will align.</p>

  <p class="art-font">The TE (Y), Flanker (Z), and Split End (X) are the three skill positions that need to know/memorize the Formation Surface Names and their corresponding alignments for each name. We use one name and then "Right" and "Left" to indicate the strength/direction of the formation. This process is something we all use or have used in the past.</p>

  <p class="art-font">An example of a formation surface name would be FLEX. FLEX indicates that the Y would align six yards from the OT, the Z would align to the same side as the Y, and the X aligns opposite. The splits of the X and Z are usually play dependent.</p>

  <p class="art-font">Adding RIGHT or LEFT, e.g., FLEX RIGHT or FLEX LEFT simply gives the direction the Y and Z will align to (and the X aligns opposite).</p>

  <p class="art-font">The efficient component comes into play when we align a 4th skill player, and then a 5th.</p>

  <p class="art-font">We add an alignment number after the formation surface name to alert and indicate to the 4th skill player that he is in the formation surface and where to align. Examples would be: FLEX RIGHT 6, FLEX RIGHT 5, FLEX RT 3 and so on. We use two digits when we want to incorporate a fifth skill player, giving us an empty formation. Example: Flex RT 65, Flex RT 76.</p>

  <p class="art-font">The alignment numbers are arranged as follows: ODD numbers to the LEFT, EVEN numbers to the RIGHT.</p>

  <p class="art-font">We label our running backs with S (Speedback) and H (Hammerback). I have included just one formation surface and a few examples of using alignment numbers. I think you can see that using just a few surfaces and combining the alignment numbers will give you a multitude of formation variations.</p>

  <%= image_tag("FormationNames.png", alt: "Naming Football Formations Diagram", class: "formation-image") %>

  <br>
  <br>
  <br>

  <p class="art-font">Please comment below or contact me at <strong><a class="blue" href="mailto:rayhradek@gmail.com">rayhradek@gmail.com</a></strong> if you have any questions.</p>

  <hr>
  <br>

  <%= render 'disqus' %>

</div>