<div class="thin-container">

  <h1 class="center">Our Most Productive RPO</h1>

  <br>

  <p class="art-font">We use jet motion combined with our inside zone backfield action to run our most productive RPO. The majority of the time we align in a trips formation. We motion the S across as we would on a jet sweep - he is only window dressing. We also snap the ball as we would if it was a jet sweep. We do not fake the ball to the S as the timing of the snap and the QB’s footwork give the defense enough of a picture to sell the possibility of the sweep. The QB and the H execute out the inside zone run play. The QB keys the first backside LB. If the LB sits, moves up, or moves laterally, he will throw the pop pass to the Y. If the LB drops into coverage, he will hand the ball off.</p>

  <p class="art-font">The Y, the indicated receiver, is taught to find the window that is created by the movement of the backside LB. The Z runs the bubble as he would on inside zone, the X runs whatever route the QB signals to him before the snap, and the S carries out his run fake as if he has the football.</p>

  <br>

  <%= image_tag("RPO.png", alt: "RPO Diagram", class: "formation-image") %>

  <br>

  <p class="art-font">Please comment below or contact me at <strong><a class="blue" href="mailto:rayhradek@gmail.com">rayhradek@gmail.com</a></strong> if you have any questions.</p>

  <hr>
  <br>

  <%= render 'disqus' %>
  
</div>