<div class="thin-container">

  <h1 class="center">Practice Organization</h1>

  <br>

  <p class="art-font">If your budget allows, I recommend purchasing some type of practice segment timer that is programmable, otherwise you will have to use your wristwatch as a timekeeper.</p>

  <p class="art-font">We use Excel to construct our practice schedule.  Depending on the software you use, you can edit/manipulate/merge the periods any way you want. An example of our practice schedule and blank template can be downloaded below.</p>

  <br>
  
  <%= image_tag("PracticeSchedule.png", alt: "Football Practice Schedule", class: "formation-image") %>

  <br>
  <br>

  <p class="art-font">We have a pre-practice time where the team gathers in the end zone for the presentation of daily objectives and points of emphasis. We are off the clock for team dynamic warm up/stretch, and conditioning/water break on the days we condition.  Then we start the clock.</p>

  <p class="art-font">Practice begins when the segment timer horn sounds.  We use 24 five-minute periods and alter the content of the periods depending on the day.</p>

  <p class="art-font">In general, our daily practice plan includes the following periods:</p>

  <ul class="art-font">
    <li>Individual Special Team Skills/Techniques</li>
    <li>Team Special-Teams Reps</li>
    <li>Individual Position Skills/Techniques/Methods</li>
    <li>Position Group(s) Assignment/Recognition Reps</li>
    <li>Routes vs Air</li>
    <li>7 on 7</li>
    <li>Inside Run</li>
    <li>Goal Line (5 yds and in)</li>
    <li>Team:</li>
      <ul class="nested-list">
        <li>Specific Pass Reps</li>
        <li>Run Game Classification, e.g., Zone Period, Counter Period, Jet Sweep Period</li>
        <li>Down/Distance Situation</li>
        <li>Field Position Situation</li>
        <li>Time Remaining Situation</li>
      </ul>
  </ul>

  <hr>

  <p class="art-font">Click <strong><%= link_to 'HERE', '/PracticeSchedule.xlsx', download: 'Example Practice Schedule' %></strong> to download our practice schedule template, which also includes a completed example.</p>

  <hr>

  <p class="art-font">Feel free to comment below or contact me at <strong><a class="blue" href="mailto:rayhradek@gmail.com">rayhradek@gmail.com</a></strong> if you have any questions.</p>
  
  <hr>
  <br>

  <%= render 'disqus' %>

</div>