
<tr id="saved_play_<%= saved_play.id %>" class="saved-play-table center" data-id="<%= saved_play.id %>">
  <td><%= link_to saved_play.title, edit_saved_play_path(saved_play), class: "grey-font bold-font" %></td>
</tr>



