<% @title= "Saved Plays - Definite6.com" %>

<div class="container">

  <br>

  <p class="large-text center">Saved Plays</p>

  <br>

  <div class="database-container">
    <div class="install-box">
      <div class="media">
        <div class="media-body">
          <table class="table table-hover sortable" id="saved-plays">
            <thead id="saved-plays-thead">
              <tr>
                <th>Play Name</th>
                <th></th>
              </tr>   
            </thead>
            <tbody id="saved-plays-body" class="sortable">
              <%= render partial: "saved_plays/saved_play", collection: @saved_plays %>
            </tbody>
          </table>
        </div>
      </div>         
    </div>

    <br>

    <div>
      <%= render partial: "saved_plays/new_saved_play" %>
    </div>

  </div>  
  
<br>
<br>

