<br>
<br>
<br>
<div class="navbar navbar-static-bottom top-footer">
  <div style="font-weight:bold">
    <span class="dark-red"><i class="fa fa-copyright" aria-hidden="true"></i> 2017 Definite6 All Rights Reserved </span>|
    <span><%= link_to "Terms", terms_path %> | </span>
    <span><%= link_to "Privacy", privacy_path %> </span>
  </div>
</div>
<br>