<% if user_signed_in? %>
	<h2>Welcome <%= current_user.email %></h2>
	<br>
	<br>
	<div data-no-turbolink><%= link_to 'Go to my calendar', events_path, :class => "btn btn-custom1 btn-sm", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Loading calendar..."} %></div>
<% else %>
	<h2><%= link_to "Sign Up", new_user_registration_path %></h2>
	<h2><%= link_to "Log in", new_user_session_path %></h2>
<% end %>		

