<% @title= "Thank You - Definite6.com" %>

<div class="thank-you-container">

<br>
<br>

  <div class="article-box">
    <br>
    <br>

    <hr class="light-blue">
    <h2 class="text-center">Thank You for Using Definite6.</h2>

    <h5 class="text-center">You have been signed-out successfully.</h5>

    <hr class="light-blue">

  </div>

</div>

<br>
<br>
<br>
<br>
<br>
<br>