<% if user_signed_in? %>
	<h2>Definite6 User Guide</h2>
  <hr>
  <h4>The Calendar</h4>

  <h4>Play Database</h4>

  <ul>
    <li>Saved Formations</li>
    <li>Saved Plays</li>
  </ul>

  <h4>Installs</h4>

  <h4>Plays</h4>

  <ul>
    <li>Printer Friendly Play List</li>
    <li>Sortable Play Summary List</li>
    <li>Import Plays from Existing Install</li>
    <li>Update Multiple</li>
    <li>Remove Multiple</li>
  </ul>

  <h4>Scripts</h4>

  <h4>Game Call Sheets</h4>

<% else %>
	<h2><%= link_to "Sign Up", new_user_registration_path %></h2>
	<h2><%= link_to "Log in", new_user_session_path %></h2>
<% end %>		

