<% @title= "User Guide - Definite6.com" %>

<h2>User Guide</h2>
<hr>
<h3 class="bottom-padding">The Calendar</h3>
<p class="skinny">To add a new event to the calendar, click anywhere in the calendar. This shows the Add a New Event window. There are three different types of events that can be created:</p>

<ul>
  <li class=top-padding><strong>Install</strong> - chose Install in the Type dropdown and enter a title, description (optionally), and a start and end date.</li>
  <li><strong>Script</strong> - chose Script in the Type dropdown and select which install the script should belong to. Then click the Go to Install button. This will take you to the chosen install's page - the actual script will need to be generated from this page (see the Scripts section below). Once the script is generated, it will be added to the calendar.</li>
  <li><strong>Game Call Sheet</strong> - chose Game Call Sheet in the Type dropdown and select which install the game call sheet should belong to. Then click the Go to Install button. This will take you to the chosen install's page - the actual game call sheet will need to be generated from this page (see the Game Call Sheets section below). Once the game call sheet is generated, it will be added to the calendar.</li>
</ul>  

<p class="skinny">Any event in the calendar can be edited simply by clicking on it - this will bring up the edit window.</p>

<hr class="light-blue">

<h3 class="bottom-padding">Installs</h3>
<p class="skinny">Once an install is created (following the directions above), it can be accessed thru either the calendar or the navigation bar at the top of the screen. </p>
<p class="skinny">*Please note that the only special characters allowed in the titles of Plays, Scripts, and Game Call Sheets are "-", "_", "/", "&", "#", "@" and "$".</p>

<h4 class="bottom-padding">Play Calls</h4>
<p class="skinny">In Definite6, the play call is composed of two pieces: the formation and the play. Personnel groupings, motion, etc. can be included in either space depending on your needs/preferences.</p>
<p class="skinny">To add a new play call to the install, click the Add New Play button. This will show the Add a New Play window.</p>
<strong>Add a New Play</strong>

<ul>
  <li class=top-padding><strong>Formation and Play Name</strong> - The formation and play name can be typed into the appropriate fields. If you have entered formations or plays in your play database (see Play Database section below), you can click the Saved Formations & Plays button - this will display the Saved Formations and Saved Plays dropdowns. Your saved formations and plays can be chosen in the dropdown, saving you from repetitive typing.</li>
  <li><strong>Practice in Segment</strong> - each practice script contains up to four separate practice segments. Chose which segments you would like this play to be practiced in the next created script. This can be adjusted at any time and in between creating different scripts.</li>
  
  <div class="top-bottom-padding"><strong>Assign Situation Info</strong> - click this button to show the situation info section. This information is used in the creation of Game Call Sheets.</div>

  <li><strong>Run/Pass</strong> - indicate whether the play is a run or a pass.</li>
  <li><strong>Hash</strong> - indicate which hash you would like the play to be run from.</li>
  <li><strong>Situations 1-10</strong> - indicate which situation(s) you would like the play to be run in. Each play has 10 situation spaces available.</li>
</ul>

<p class="top-bottom">Once the desired information has been entered, click the Add Play to Install button. After each play is added, it will show on the install page forming a list. The list displays the play name and the practice segment(s) the play will be included in the next created script. If two plays have matching names, each will be highlighted in red (to help prevent accidental duplication). The order in which the plays are listed is the order the plays will show on the next created script and game call sheet - the order can be edited at any time by clicking and dragging each play to its desired position. Use the Update or Remove button to show the edit play screen. From the screen, you can update any of the attributes mentioned above, or remove the play from the list. Additionally, you can view the number of times the play has been repped (shows the number of times the play is included in all of the scripts created within that install).</p>

<strong>Additional Install Features</strong>

<ul>
  <li class=top-padding><strong>Printer Friendly Play List</strong> - view a printer friendly version of all the plays included in your install.</li>
  <li><strong>Sortable Play List Summaries</strong> - view two separate sortable tables that summarize the plays included in your install. The first table shows the hash, play type (run or pass), the number of times repped, and the assigned situation(s) for each play. The second table shows each situation space for each play.</li> 
  <li><strong>Call Sheet Summaries</strong> - shows a snapshot of each situation based on each of the current plays' assigned situation(s).</li> 
  <li><strong>Import Plays from Existing Install</strong> - allows you to import all of the plays from an already existent install. If you have created installs of particular play packages, this allows you to quickly and easily import them into the current install.</li>  
  <li><strong>Update Multiple</strong> - allows you to update multiple plays at one time. Please note that if updating the assigned situations, this option will override the selected situation space for each play chosen. Use the second table in the Sortable Play List Summaries to view each play's 10 situation spaces.</li>
  <li><strong>Remove Multiple</strong> - allows you to remove multiple plays at one time.</li>  
</ul>
<p></p>

<h4 class="bottom-padding">Scripts</h4>
<p class="skinny">To generate a new script, click the Create New Script button. This will show the Create New Script window. Enter the title of the script, e.g., "Monday Practice Script" along with the date and then click the Create Script button. Once the script is created, it will show on the install page. There is no limit to the number of scripts you can create for each install. Use the Update or Delete Script button to edit the script's title or date. Click the Open Script button to open the script.</p>
<p class="skinny">Each cell in the script sheet can be edited (including the segment names which default to "Segments 1-4"). Please note that the only special characters allowed are "-", "_", "/", "&", "#", "@", and "$" If an unallowed character is entered, the cursor will not move from the cell. For any edits to persist, the script must be saved - to save the script, please click the Save Updates to Script button.</p> 
<p class="skinny">Each of the four practice segments contain five columns. The H, D-D, and Defense columns can be used optionally.</p>

<ul>
  <li class=top-padding><strong>#</strong> - each segment is composed of an ordered list - indicates the play's position in the list; there are spaces for up to 25 plays in each segment.
  <li><strong>H</strong> - hash mark; can chose "L", "M", or "R" thru the dropdown.
  <li><strong>D-D</strong> - down & distance; must be typed in.
  <li><strong>Formation & Play Call</strong> - the play; will auto populate based on the information provided for each play in the install. Additionally, each cell containing a play has a dropdown which allows you to select any of the plays currently included in the install. 
  <li><strong>Defense</strong> - defense; must be typed in.
</ul>

<p class="skinny">There is also an optional section for additional notes at the bottom of the sheet. Please note that if you type a play's name in this section exactly as it is entered in the install, this will cause an error in the Number of Times Practiced count.</p>

<p class="skinny">To generate a printer friendly version of the script, click the Printer Friendly Script button.</p>

<p class="skinny">*Please remember that any edits to the script must be saved by clicking the Save Updates to Script button prior to navigating away from the script.</p>
<p></p>

<h4 class="bottom-padding">Game Call Sheets</h4>
<p class="skinny">To generate a new game call sheet, click the Create New Game Call Sheet button. This will show the Create New Game Call Sheet window. Enter the title of the game call sheet along with the date and then click the Create New Game Call Sheet button. Once the game call sheet is created, it will show on the install page. There is no limit to the number of Game Call Sheets you can create for each install. Use the Update or Delete Sheet button to edit the game call sheet's title or date. Click the Open Sheet button to open the game call sheet.</p>

<p class="skinny">The game call sheet is two pages and contains sections for each of the 14 potential situations (including three custom situations which can be updated to fit your preferences). Each situation has a run and a pass section (excluding openers) and is divided into two columns. The left column represents left hash plays and the right column represents right hash plays. The plays will populate automatically based on the assigned situation info entered on the install page. Similar to the script, each cell in the game call sheet can be edited and each cell containing a play has a dropdown which allows you to select any of the plays currently included in the install.</p>

<p class="skinny">In order for any edits to the game call sheet to persist, the sheet must be saved - to save the sheet, please click the Save Updates to Sheet button.</p>

<p class="skinny">To generate a printer friendly version of the sheet, click the Printer Friendly Game Call Sheet button.</p>

<hr class="light-blue">

<h3 class="bottom-padding">Play Database</h3>
<p>The play database allows you to save formation and play names. These saved names will then be available to you in the corresponding dropdown menu when adding a new play call to your installs.</p>

<strong>Saved Formations</strong>
<p class="bottom-padding">To add a new formation, click the Add a New Formation button. Enter the title of the formation and then click create. When adding a new play call to an install, the saved formations will show in the dropdown menu in the same order they are listed on this page - the order can be edited by clicking and dragging each formation to its desired position. You can edit the name of the formation or remove it by using the Update or Delete Formation button.</p>
<p></p>
<strong>Saved Plays</strong>
<p class="bottom-padding">The functionality of the Saved Plays is identical to that of the Saved Formations. To add a new play, click the Add a New Play button. Enter the title of the play and then click create. When adding a new play call to an install, the saved plays will show in the dropdown menu in the same order they are listed on this page - the order can be edited by clicking and dragging each play to its desired position. You can edit the name of the play or remove it by using the Update or Delete Play button.</p>

<br>
<div class="text-center">
  <p class="low-padding">Please contact us if you have any questions.</p>
  <i class="fa fa-envelope-o fa-3x"></i>
  <p><a href="mailto:admin@definite6.com">admin@definite6.com</a></p>
</div>

	

