<h1>Payment Form</h1>

<p>To complete the registration process, please enter your card information into the form below.</p>

<%= form_tag subscription_path, id: "payment-form" do %>
  <span class="payment-errors"></span>

  <hr>
  
  <div class="pull-right"><img src="https://www.merchantequip.com/image/?logos=v|m|a|d&height=64" alt="Credit Card Logos" /></div>
  <div class="row">
    <div class="col-xs-5">
      <div class="field">
        <label>
          <span>Card Number</span>
        </label>
        <input class="form-control" value="4242 4242 4242 4242" type="text" size="20" data-stripe="number">
      </div>
    </div>  
  </div>
    
  <div class="row">
    <div class="col-sm-1">
      <div class="field">
        <label>
          <span>Expiration</span>
        </label>
        <input class="form-control" value="12" type="text" size="10" data-stripe="exp_month">        
      </div>
    </div>

    <div class="col-sm-1">
      <div class="field">
        <label>&nbsp</label>
        <input class="form-control" value="2020" type="text" size="10" data-stripe="exp_year">
      </div>  
    </div>

    <div class="col-sm-1"></div>

    <div class="col-sm-2">
      <div class="field">
        <label>
          <span>CVC</span>
        </label>  
        <input class="form-control" value="123" type="text" size="4" data-stripe="cvc">
      </div>
    </div>
  </div>  

  <hr> 
  <% if current_user.stripe_id? %>
    <h4>Today's charges: $120 for a one year subscription. This will give you unlimited access to Definite6 thru <%= subscription_end.strftime("%m/%d/%Y") %>.</h4>
  <% else %>
    <h4>Today's charges: $0 for a 30 day free trial</h4>
    <h4><%= trial_end.strftime("%m/%d/%Y") %> charges: $120 for a one year subscription.</h4>
  <% end %>
  <hr>
  <input type="submit" class="submit btn btn-custom3" value="Submit Payment">
  
<% end %>

