
<tr id="saved_formation_<%= saved_formation.id %>" class="formation-table center" data-id="<%= saved_formation.id %>">
  <td><%= link_to saved_formation.title, edit_saved_formation_path(saved_formation), class: "grey-font bold-font" %></td>
</tr>


