<% @title= "Saved Formations - Definite6.com" %>

<div class="container">

  <br>

  <p class="large-text center">Saved Formations</p>

  <br>

  <div class="database-container">
    <div class="install-box">
      <div class="media">
        <div class="media-body">
          <table class="table table-hover" id="saved-formations">
            <thead id="formations-thead">
              <tr>
                <th>Formation Name</th>
                <th></th>
              </tr>   
            </thead>
            <tbody id="saved-formations-body" class="sortable">
              <%= render partial: "saved_formations/saved_formation", collection: @saved_formations %>
            </tbody>
          </table>
        </div>
      </div>     
    </div>    

    <br>

    <div>
      <%= render partial: "saved_formations/new_saved_formation" %>
    </div>

  </div>  
  
<br>
<br>




