<% @title= "Remove Email - Definite6.com" %>

<div class="thank-you-container">

<br>
<br>

  <div class="article-box">
    <br>
    <br>

    <hr class="light-blue">
    
    <h2 class="text-center">Remove my Email</h2>

    <h5 class="text-center">Please add your email below and then submit the form to ensure you no longer receive emails from Definite6.com</h5>

    <%= render 'form' %>
    
    <hr class="light-blue">
    
  </div>

</div>

<br>
<br>
<br>
<br>
<br>
<br>



