
<tr>
  <td><%= check_box_tag "play_ids[]", remove_play.id, false, {:class => "delete-checkbox"} %></td>
  <td><%= remove_play.fullname %></td>
  <td class="table-center"><%= remove_play.play_type %></td>
  <td class="table-center"><%= remove_play.hash_mark %></td>
</tr>

