<section id="advantages">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">The most advanced game and practice planning software available.</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-hourglass-end wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Save Time</h3>
                    <p class="text-muted">Create your practice scripts and game call sheets at the click of a button. Create specific groupings of plays and then import them all at once to your current install.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-calendar wow bounceIn text-primary"></i>
                    <h3>Stay Organized</h3>
                    <p class=text-muted>Have a record of previous installs, practice scripts, and game call sheets - all organized within a functioning calendar.</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-table wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Enjoy Flexibility</h3>
                    <p class="text-muted">Practice scripts and game call sheets work similar to a regular spreadsheet. Dropdowns allow for quick and easy updates.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-cloud wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Cloud Based</h3>
                    <p class="text-muted">Benefit from on-going additions and improvements to the software. Access your account from anywhere with an internet connection.</p>
                </div>
            </div>
        </div>
        <br>
        <hr>
        <h4 class="text-center">Take a look at our sample practice script and game call sheet.</h4>
        <div class="row text-center">
          <div class="col-lg-3"></div>
          <div class="col-lg-3">
            <span><%= link_to 'Example Practice Script', example_script_page_path, :class => "btn btn-custom3 btn-block", target: "_blank" %></span>
          </div> 
          <div class="col-lg-3"> 
            <span><%= link_to 'Example Game Call Sheet', example_gamecall_page_path, :class => "btn btn-custom3 btn-block", target: "_blank" %></span>
          </div>
          <div class="col-lg-3"></div>
        </div>
    </div>
</section>





