
<div id="advantages">
  <br>
  <br>
  <br>
  <div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading"><strong>The most advanced game and practice planning software available.</strong></h2>
          <hr class="light-smoke">
        </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <p class="section-heading medium-font">Definite6 saves coaches time and guarantees organization in preparing for practice and games. Create an install by adding the plays you would like to be used that week – Definite6 will generate the practice scripts and game call sheet for you. Printer friendly versions are available and can be viewed from any mobile device as well.</p>
        <p class="section-heading medium-font">Definite6 offers features and flexibility that the competition does not.</p> 

      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">   
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box">
          <i class="fa fa-4x fa-hourglass-end wow bounceIn text-primary" data-wow-delay=".1s"></i>
          <h3>Save Time</h3>
          <p class="text-muted">Create your practice scripts and game call sheets at the click of a button. Build specific groupings of plays and then import them all at once to your current install.</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box">
          <i class="fa fa-4x fa-calendar wow bounceIn text-primary"></i>
          <h3>Stay Organized</h3>
          <p class=text-muted>Have a record of previous installs, practice scripts, and game call sheets - all organized within a functioning calendar.</p>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box">
          <i class="fa fa-4x fa-table wow bounceIn text-primary" data-wow-delay=".2s"></i>
          <h3>Enjoy Flexibility</h3>
          <p class="text-muted">Practice scripts and game call sheets work similar to a typical spreadsheet. Dropdowns and copy/paste functionality allow for quick and easy updates.</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box">
          <i class="fa fa-4x fa-cloud wow bounceIn text-primary" data-wow-delay=".3s"></i>
          <h3>Increase Convenience</h3>
          <p class="text-muted">Cloud based software allows access to your account from anywhere with an internet connection. Automatically receive on-going additions and improvements to the software. </p>
        </div>
      </div>
    </div>   
  </div>

  <br>

  <div class="container">
    <div class="row"> 
      <div class="col-lg-12">
        <hr class="light-smoke">
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row"> 
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <div class="section-heading medium-font">"The general who wins the battle makes many calculations in his temple before the battle is fought. The general who loses makes but few calculations beforehand."</div>
        <p class="text-muted">-Sun Tzu</p>
        <div class="section-heading medium-font">Definite6 facilitates max preparedness. Win the battle on the field. Use Definite6.</div>
        <p class="section-heading medium-font"></p>
      </div>
    </div>
  </div>

</div>





