<section class="bg-primary" id="pricing">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <h2>Receive a free 30 day trial and $60 off the normal price for the first year if you sign up now.</h2>  
        <h4>You may cancel at any time during the 30 day trial by simply clicking a button and you will not be charged a dime, no questions asked.</h4> 
        <hr>
        <h2>Sign up now and gain access to Definite6 for one year for <del>$180</del> $120.</h2>
        <div><%= link_to "Sign Up Now!", new_user_registration_path, class: "btn btn-custom1 btn-lg", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Loading..."} %></div>
      </div>
    </div>
  </div>
</section>

