 <div id="examples"> 
  <br>
  <h4 class="text-center">Take a look at an example practice script and game call sheet.</h4>
  <div class="row text-center">
    <div class="col-lg-3 col-sm-3"></div>
    <div class="col-lg-3 col-sm-3">
      <span><%= link_to 'Example Practice Script', example_script_page_path, :class => "btn btn-custom3 btn-block", target: "_blank" %></span>
    </div> 
    <div class="col-lg-3 col-sm-3"> 
      <span><%= link_to 'Example Game Call Sheet', example_gamecall_page_path, :class => "btn btn-custom3 btn-block", target: "_blank" %></span>
    </div>
    <div class="col-lg-3 col-sm-3"></div>
  </div>
</div>
<br>
<br>
<br>
<br>