<br>
<hr class="thick">
<div class="container" id="video">
  <br>
  <hr>
  <script src="//fast.wistia.com/embed/medias/9fl8gyfbo7.jsonp" async></script>
  <script src="//fast.wistia.com/assets/external/E-v1.js" async></script>
  <div class="wistia_embed wistia_async_9fl8gyfbo7 video-center" style="height:506px;width:952px">&nbsp;</div>
  <hr> 
</div>
