
<hr class="thick">
<div class="container" id="video">
  <br>
  <hr>
  <script src="//fast.wistia.com/embed/medias/nez9i4bvrc.jsonp" async></script>
  <script src="//fast.wistia.com/assets/external/E-v1.js" async></script>
  <div class="wistia_embed wistia_async_nez9i4bvrc video-center" style="height:450px;width:800px">&nbsp;</div>
  <hr> 
</div>
