
<hr class="thick">
<div class="container" id="video">
  
  <hr>
  
  <div class="thin-container">

    <script src="https://fast.wistia.com/embed/medias/m494ubesun.jsonp" async></script>
    <script src="https://fast.wistia.com/assets/external/E-v1.js" async></script>
    <div class="wistia_responsive_padding" style="padding:56.0% 0 0 0;position:relative;">
      <div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;">
        <div class="wistia_embed wistia_async_m494ubesun videoFoam=true" style="height:100%;width:100%">&nbsp;</div>
      </div>
    </div>
  </div>

  <hr> 

</div>

<div class="row text-center">
  <div class="col-lg-4 col-sm-4"></div>
  <div class="col-lg-4 col-sm-4">
    <%= link_to "User Guide/Demo Videos", user_guide_path, :class => "btn btn-custom1 btn-block" %>
  </div>
  <div class="col-lg-4 col-sm-4"></div>
</div>