
<hr class="thick">
<div class="container" id="video">
  <hr>
  <script src="https://fast.wistia.com/embed/medias/m494ubesun.jsonp" async></script>
  <script src="https://fast.wistia.com/assets/external/E-v1.js" async></script>
  <div class="wistia_embed wistia_async_m494ubesun video-center" style="height:450px;width:800px">&nbsp;</div>
  <hr> 
</div>

<div class="row text-center">
  <div class="col-lg-4 col-sm-4"></div>
  <div class="col-lg-4 col-sm-4">
    <%= link_to "User Guide/Demo Videos", user_guide_path, :class => "btn btn-custom1 btn-block" %>
  </div>
  <div class="col-lg-4 col-sm-4"></div>
</div>