<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>This is just a reminder that your Definite6.com trial will end in three days and your <%= @user.card_brand%> card ending in <%= @user.card_last4 %> will be charged $120.</h3>
    <p>No action is required to continue your access to Definite6.</p>
    <p>If you wish to cancel, click the "Deactivate My Account" button in the Account Settings section.</p>
    <p>Please reply to this email if you have any questions.</p>
  </body>
</html>