.art-font{
  font-size: 1.2em;
  line-height: 1.8;
}

.ol-font{
  font-size: 1.2em;
  line-height: 1.5;
}

.font-only{
  font-size: 1.2em;
}

.center{
  text-align: center;
}

.nested-list{
  font-size: .9em;
  line-height: 1.5;
}

.formation-image{
  display: block;
  margin: auto;
  width: 80%;
}

.bio-image{
  display: block;
  margin: auto;
  width: 40%;
}

.title{
  font-size: 1.9em;
  font-weight: 700;
  margin-top: 5px;
  margin-bottom: 10px;
}

.box{
  border-bottom-style: double;
  border-width: 4px;
  padding: 20px;
  border-color: #036ccb;
}

.preview-text{
  color: #8b8787;
}

.thin-container{
  margin: auto;
  max-width: 75%;
}

@media (min-width: 500px){
  .article-box{
    border-style: ridge;
    border-width: 25px;
    padding: 20px 40px 40px 40px;
    background-color: #fff;
    border-color: #E8E8E8;
  }
}






