.art-font{
  font-size: 1.2em;
  line-height: 1.8;
}

.ol-font{
  font-size: 1.2em;
  line-height: 1.5;
}

.font-only{
  font-size: 1.2em;
}

.thin-container{
  margin: auto;
  max-width: 70%;
}

.center{
  text-align: center;
}

.nested-list{
  font-size: .9em;
  line-height: 1.5;
}

.formation-image{
  display: block;
  margin: auto;
  width: 70%;
}

.title{
  font-size: 1.5em;
  margin-top: 13px;
  margin-bottom: 13px;
}