
.nav-limit-dropdown{
  max-height: 140px;
  overflow: auto;
}

.nav-long-dropdown{
  max-height: 230px;
  width: 215px;
  overflow: auto;
}

.dropdown-backdrop {
  position: static;
}

/*
ul.nav li.dropdown:hover > ul.dropdown-menu {
  display: block;    
}
*/



@media (min-width: 915px){
  .navbar-nav>li, .navbar-nav {
    float: left !important;
  }
  .navbar-right {
    float: right!important;
  }
}

.navbar-default{
  font-weight: bold;
  background-color: #fff;
  border-bottom-color: rgba(220, 221, 223, 0.84);
  border-bottom-width: 6px;
  border-bottom-style: ridge;
}

.active a{
  background-color: #fff !important;
  color: #036ccb !important;
  pointer-events: none;
  cursor: default;
}

.nav-underline{
  border-bottom-style: solid;
  border-color: #b6b6b6;
  border-width: 1px;
  padding-bottom: 5px;
}

.nav-top-padding{
  padding-top: 5px;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  background-color: transparent;
  color: #000000;
}

.navbar-brand {
  text-transform: uppercase !important;
  font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif !important;
  font-weight: 700 !important;
  color: #036ccb !important;
}

.blue-nav{
  color: #036ccb !important;
}

.navbar-header{
  padding-left: 20px;
}

.navbar-collapse{
  padding-right: 30px !important;
}