.nav-limit-dropdown{
  max-height: 140px;
  overflow: auto;
}

.dropdown-backdrop {
  position: static;
}


ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;    
}


.navbar-collapse.collapse {
  display: block!important;
}

.navbar-nav>li, .navbar-nav {
  float: left !important;
}

.navbar-right {
  float: right!important;
}

