#situations{
	display: none;
}

#situation2{
	display: none;
}

#situation3{
	display: none;
}

#situation4{
	display: none;
}

#situation5{
	display: none;
}

#situation6{
	display: none;
}

#situation7{
	display: none;
}

#situation8{
	display: none;
}

#situation9{
	display: none;
}

#situation10{
	display: none;
}

#situation-title{
  line-height: 1px;
}

.hash{
	padding-bottom: 15px;
}

.top-situation{
	padding-top: 1px;
}

.update-situations{
	display: none;
}

.uhidden{
	display: none;
}

#formation-display{
	font-weight: bold;
}

#play-call-display{
	font-weight: bold;
}

.padding-sm{
	padding: 2px !important;
}

.saved-formations-and-plays{
	display: none;
}

.saved-formations-and-plays-update{
	display: none;
}

.period-select {
  display: none;
}

.multi-type {
  display: none;
}

.multi-hash {
  display: none;
}

.show-saved-plays{
	margin-top: -25px;
	margin-left: -12px;
	margin-bottom: -25px;
}

.show-saved-plays-update{
	margin-top: -25px;
	margin-left: -12px;
	margin-bottom: -25px;
}

.wide-td{
	width: 67%;
}

.slim-td{
	width: 33%;
}