#situations{
	display: none;
}

#situation2{
	display: none;
}

#situation3{
	display: none;
}

#situation4{
	display: none;
}

#situation5{
	display: none;
}

#situation6{
	display: none;
}

#situation7{
	display: none;
}

#situation8{
	display: none;
}

#situation9{
	display: none;
}

#situation10{
	display: none;
}

#situation-title{
  line-height: 1px;
}

.tablered{
  background: #f85032; /* Old browsers */
  background: -moz-linear-gradient(top,  #f85032 0%, #f16f5c 22%, #f6290c 63%, #f02f17 71%)  !important; /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #f85032 0%,#f16f5c 22%,#f6290c 63%,#f02f17 71%) !important; /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #f85032 0%,#f16f5c 22%,#f6290c 63%,#f02f17 71%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f85032', endColorstr='#f02f17',GradientType=0 ) !important; /* IE6-9 */
  -webkit-print-color-adjust: exact;
}

.short-div{
  line-height: 5px;
  padding-bottom: .5px;
  margin-bottom: 5px;
}

.hash{
	padding-bottom: 15px;
}

.top-situation{
	padding-top: 1px;
}

.update-situations{
	display: none;
}

.uhidden{
	display: none;
}

#formation-display{
	font-weight: bold;
}

#play-call-display{
	font-weight: bold;
}

.padding-sm{
	padding: 2px !important;
}

.saved-formations-and-plays{
	display: none;
}

.saved-formations-and-plays-update{
	display: none;
}

.period-select {
  display: none;
}

.multi-type {
  display: none;
}

.multi-hash {
  display: none;
}

.multi-situation1 {
  display: none;
}

.multi-situation2 {
  display: none;
}

.multi-situation3 {
  display: none;
}

.multi-situation4 {
  display: none;
}

.multi-situation5 {
  display: none;
}

.multi-situation6 {
  display: none;
}

.multi-situation7 {
  display: none;
}

.multi-situation8 {
  display: none;
}

.multi-situation9 {
  display: none;
}

.multi-situation10 {
  display: none;
}

.show-saved-plays{
	margin-top: -25px;
	margin-left: -12px;
	margin-bottom: -25px;
}

.show-saved-plays-update{
	margin-top: -25px;
	margin-left: -12px;
	margin-bottom: -25px;
}

.wide-td{
	width: 67%;
}

.slim-td{
	width: 33%;
}

